



.page-inner-content.auth {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: auto;
    overflow-x: hidden;
    padding: 0 2rem 2rem 2rem !important;
}

.alternative-box {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.alternative-box .alternative-line {
    flex: 1;
    height: 1px;
    background-color: var(--card-border-color);
}

.alternative-text {
    white-space: nowrap;
    color: var(--color-gray);
}




